body {
    margin: 0;
    font-family: Montserrat, Georgia, serif;
    font-size: 1vw;
}

.container {
    display: grid;
    max-width: 100%;
    background-image: url(../img/cover1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: background-position 0.05s linear;
    transition: background-image 3.5s ease-in-out;
    grid-template-areas: 'logo menu menu login addRecipe''main main main main main''category category category category category''item-search item-search item-search item-search item-search''recipes recipes recipes recipes recipes''footer footer footer footer footer';
}

.logo,
.menu,
.login,
.item4 {
    background: rgba(55, 66, 82, 0.7);
    transition: background 0.7s linear;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    grid-area: logo;
}

.logo img {
    padding-left: 5vw;
    width: 5vw;
}

.menu {
    grid-area: menu;
    color: white;
    text-transform: uppercase;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
}

.menu li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.login {
    grid-area: login;
    color: white;
    padding-left: 5vw;
}

.login i {
    padding: 2.5vh 1vw 0 1vw;
}

.login a,
.login #logIn-out {
    color: white;
    cursor: pointer;
}

.login a:hover,
.login #logIn-out:hover {
    color: rgb(181, 68, 132);
    transition: 0.7s ease;
}

.item4 {
    grid-area: addRecipe;
}

.item4 button {
    width: 80%;
    padding: 10px 8px;
    margin: 2.5% 0;
}

button {
    font-family: Montserrat, Georgia, serif;
    font-size: 1vw;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid rgb(181, 68, 132);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(181, 68, 132);
    color: white;
    cursor: pointer;
    outline-color: rgb(97, 3, 56);
}

button:hover {
    transition: 0.7s ease;
    border: 1px solid rgb(151, 11, 91);
    background-color: rgb(151, 11, 91);
}

input,
textarea,
select {
    font-family: Montserrat, Georgia, serif;
    font-size: 1vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1;
}

/*CSS stil za checkbox*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '\2713';
    position: absolute;
    top: .15em;
    left: .22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: rgb(181, 68, 132);
    transition: all .2s;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

.item-search label:hover:before {
    border: 1.5px solid rgb(151, 11, 91) !important;
}

/*CSS stil za checkbox*/

select {
    font-family: Montserrat, Georgia, serif;
    font-size: 1vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1;
}

.main {
    grid-area: main;
    text-align: center;
    color: white;
    padding-top: 19vh;
    padding-bottom: 39vh;
}

.main input {
    width: 20%;
}

.main select {
    width: 15%;
}

.main button {
    width: 10vw;
    padding: 12px 20px;
    margin: 8px 0;
    text-transform: none;
}

.main a,
#closeSearch {
    color: white;
    cursor: pointer;
}

.main a:hover,
#closeSearch:hover {
    transition: 0.5s ease;
    color: rgb(151, 11, 91);
}

.main img {
    width: 12%;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.category {
    grid-area: category;
    background-color: #F9F9F9;
}

#category-wrap,
#category-wrap-small {
    box-shadow: 0 -12px 10px 0 rgba(42, 47, 54, .3);
    background-color: #F9F9F9;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5% 0.5%;
    width: 55%;
    margin-left: 22%;
    margin-top: -15vh;
}

#category-wrap-small {
    margin: auto;
    width: 32%;
}

#category-wrap a,
#category-wrap-small a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#cook1,
#cook2,
#cook3,
#cook4,
#user1,
#fav1 {
    font-family: Montserrat, Georgia, serif;
    box-sizing: border-box;
    width: 12vw;
    height: 21vh;
    background-color: #F9F9F9;
    text-align: center;
    padding: 20%;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
}

#cook1:hover,
#cook2:hover,
#cook3:hover,
#cook4:hover,
#user1:hover,
#fav1:hover {
    background-color: rgb(181, 68, 132);
    transition: 0.7s ease;
    color: #F9F9F9;
}

.content {
    grid-area: recipes;
    background-color: #F9F9F9;
    text-align: center;
}

.content h1 {
    color: black;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    padding: 1% 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.4vw;
    letter-spacing: 1px;
}

.recipes-container,
.user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5% 2% 5%;
}

.recipes-click-scroll {
    cursor: pointer;
}

.recipes img {
    width: 100%;
    padding-bottom: 0.5%;
}

.recipes {
    font-size: 0.7vw;
    width: 30%;
    margin: 1% 0;
    border-radius: 12px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .24);
    background-color: white;
}

.recipes:hover {
    transform: scale(1.008, 1.008);
    transition: 0.25s ease;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.recipe-info {
    margin: 0.7vw;
    border: 2px dotted rgba(0, 0, 0, .12);
    border-radius: 12px;
}

.recipes-descr {
    text-align: left;
    padding-left: 5%;
}

.fav i {
    float: right;
    padding: 0 2%;
}

.recipes-ctgr {
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .4);
}

#recipes-height {
    padding: 0;
    text-align: center;
    height: 5%;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    width: 80%;
}

.item8 {
    grid-area: footer;
    background: rgba(55, 66, 82, 0.95);
    color: white;
    text-align: center;
}

.item8 img {
    width: 22%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer {
    padding: 1% 2%;
    width: 30%;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer button {
    width: 42%;
    padding: 12px 20px;
    margin: 8px 0;
    text-transform: none;
}

.footer input {
    width: 42%;
}

.item-search {
    grid-area: item-search;
    background-color: #F9F9F9;
    box-sizing: border-box;
    text-align: center;
}

.show {
    display: none;
}

.item-search select,
.item-search input {
    width: 15%;
}

.item-search ul li {
    list-style-type: none;
    padding: 6px;
    display: inline-flex;
}

.item-search button {
    width: 10vw;
    padding: 12px 20px;
    margin: 8px 0;
    text-transform: none;
}

#closeSearch {
    color: black;
}

.login-container input {
    width: 47%;
    font-size: 0.9vw;
}

.login-container button {
    width: 98.5%;
    padding: 12px 20px;
    font-size: 0.9vw;
    margin: 8px 0;
}

.login-container a h5 {
    color: black;
    text-align: center;
    font-size: 0.9vw;
}

.login-container a {
    text-decoration: none;
}

.login-container {
    padding: 0 5% 0 5%;
}

.login-img {
    text-align: left;
    font-size: 1vw;
    padding: 0 5% 0 5%;
    background-color: rgba(55, 66, 82, 0.9);
}

.login-img img {
    width: 15%;
    padding-top: 1%;
}

.login-title {
    font-size: 0.9vw;
    padding-left: 0 5% 0 5%;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
    margin: 0 5%;
    padding-bottom: 1%;
    border-radius: 4px;
}

.form-left {
    margin-left: 14%;
}

.form-right {
    margin-right: 14%;
}

#writeRecipe select,
#writeRecipe input {
    width: 25vw;
}

#writeRecipe textarea {
    resize: none;
    width: 24vw;
    text-align: justify;
    font-family: Montserrat, Georgia, serif;
}

#writeRecipe ul li {
    list-style-type: none;
    padding: 6px;
    display: inline-flex;
}

#writeRecipe button {
    width: 15vw;
    padding: 12px 20px;
    margin: 8px 0;
}

#addRecipe input {
    width: 12.5vw;
    margin: 8px 4px;
}

.form-right a {
    cursor: pointer;
}

.fa-minus-circle {
    color: rgb(181, 68, 132);
}

.fa-plus-circle {
    color: green;
}

.fa-minus-circle:hover,
.fa-plus-circle:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.editRecipe,
.deleteRecipe {
    width: 42%;
    padding: 4% 4%;
    margin: 4% 3%;
}

input:invalid+span:after,
select:invalid+span:after {
    content: '✖';
    font-size: 1vw;
    padding-left: 5px;
    color: rgb(181, 68, 132);
}

input:valid+span:after,
select:valid+span:after {
    content: '✓';
    font-size: 1vw;
    padding-left: 5px;
    color: green;
}

#login-content {
    display: none;
    text-align: center;
    position: absolute;
    top: 60px;
    right: -4vw;
    z-index: 999;
    background: rgba(249, 249, 249, 0.9);
    color: black;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 30vw;
}

.fa-heart:hover,
.fa-print:hover,
.fa-share-alt:hover {
    color: rgb(181, 68, 132);
    transition: 0.25s ease-out;
    transform: scale(1.15, 1.15);
    cursor: pointer;
}

.fa-share-alt:hover {
    color: blue;
}

.offHeart:active {
    transition: 0.08s ease-out;
    transform: scale(2.2, 2.2);
}

.onHeart {
    color: rgb(181, 68, 132);
}

.onHeart:active {
    transition: 0.1s ease-out;
    transform: scale(0.9, 0.9);
}

#empty {
    text-align: center;
    margin-bottom: 1.5vw;
}
